<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body class="body-about">
    <header>
        <div class="header-about">
            <a href="index.html"><img class="img-logo" src="/static/img/logomh-removebg-preview.png" alt=""></a>
        </div>
    </header>
    <h1>About</h1>
    <div class="test">
        <div class="text-about">
            <h2>À Propos de Mon Projet</h2>
            <p>Bienvenue sur mon application web personnelle ! Ce projet a été réalisé en solo dans le cadre d'un
                exercice visant à exploiter une API pour enrichir le contenu de l'application.</p>

            <p>J'ai choisi de travailler avec l'API [Nom de l'API] qui propose une architecture REST et retourne des
                données au format JSON. Pour garantir l'accessibilité, j'ai pris en compte la gestion du token lorsque
                nécessaire, que ce soit pour une API publique, partenaire, ou privée.</p>

            <p>Ce projet utilise au moins trois endpoints différents de l'API sélectionnée. Ces endpoints ont été
                soigneusement choisis pour diversifier le contenu et offrir une expérience utilisateur riche et
                engageante.</p>

            <p>Si vous avez des questions, des commentaires ou des suggestions pour améliorer ce projet, n'hésitez pas à
                me contacter. Merci de découvrir mon travail !</p>
        </div>
        <div class="img-about">
            <img src="/static/img/téléchargé-removebg-preview.png" alt="">
        </div>
    </div>
    <footer>
        <div class="footer-about">
            <a href="index.html"><img class="img-logo" src="/static/img/logomh-removebg-preview.png" alt=""></a>
        </div>
    </footer>
</body>

</html>