{{define "resourcepagearmor"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body class="body-category">
    <header>
        <div class="header-category">
            <a href="/accueil"><img class="img-logo" src="/static/img/logomh-removebg-preview.png" alt="logo"></a>
            <div class="all-search">
                <form class="search" action="/search" method="get">
                    <input type="text" class="search-bar" placeholder="Search">
                    <button type="submit" class="search-btn">Search</button>
                </form>
            </div>
            <div class="all-category">
                <div>
                    <a href="/category?type=armor" class="category-armor">Armor</a>
                </div>
                <div>
                    <a href="/category?type=weapon" class="category-weapon">Weapon</a>
                </div>
                <div>
                    <a href="/category?type=monster" class="category-monster">Monster</a>
                </div>
            </div>
        </div>
    </header>
    <div class="title-piece">
         <h1>{{.Armor.Name}}</h1>
         <a href="/add?id={{.Armor.ID}}&id_piece={{.Piece.ID}}&type=armor">fav</a>
    </div>
    <div class="img-piece">
         <h1>{{.Piece.Type}}</h1>
        <img src="{{.Piece.Assets2.ImageMale2}}" alt="Armor Image">
    </div>
    <div class="info-piece">
        <div>
            <p>Armor rank: {{.Piece.Rank}}</p>
            <p>Rarity: {{.Piece.Rarity}}</p>
        </div>
    <footer>
        <div class="footer">
            <div class="footer-social">
                <div>
                    <a href="" class="social-facebook">Facebook</a>
                </div>
                <div>
                    <a href="" class="social-twitter">X</a>
                </div>
                <div>
                    <a href="" class="social-instagram">Instagram</a>
                </div>
            </div>
            <div class="img-logo">
                <img src="/static/img/logomh-removebg-preview.png" alt="logo">
            </div>
            <div class="page">
                <a href="/about.html">about</a>
                <a href="#">legal notice</a>
            </div>
           
        </div>
    </footer>
</body>
</html>
{{end}}